<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Current Blog
    </h2>
  </div>
  {{#each blogs as |blog|}}
    <div class="blog col-md-5">
      <p>  
        <!--Only allow navigation to single blog post for editing and deleting if logged in-->
         
          <a href="/blog/{{blog.id}}">{{blog.blog_title}}</a>  
         
         
      </p>
    </div>
    <div class="col-md-7">
      <p>
        User:
        {{blog.user_name}}
      </p> <p>
        Created:
        {{blog.timestamp}}
      </p>
    </div>
  {{/each}}
</div>
<!-- This is the form for adding a new dish -->
<div class="add-blog-container">
  <h2>
    RSVP with the blog you plan to write!
  </h2>
  <form class="new-blog-form">
    <label for="blog_title">
      Blog Title:
    </label>
    <br />
    <textarea id="blog_title" name="blog_title" rows="2" cols="30">
      {{blog_title}}
    </textarea>
    <br />
    <label for="blog_content">
      Blog_content:
    </label>
    <br />
    <textarea id="blog_content" name="blog_content" rows="5" cols="30">
      {{blog_content}}
    </textarea>
    <br />
    <label for="user_name">
      User Name:
    </label>
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
    <br />
    <br />
     
     
    <br />
    {{#if loggedIn}}
   <button type="submit" value="Submit"> Submit  </button>   
   {{else}}
   If you wanna be bloggin', ya gotta be logged in 
    {{/if}}
    
  </form>
</div>
<script src="/js/add-dish.js"></script>