<div class="blog-card">
  <div class="blog-card-header">
    {{blog_title}}
  </div>
  <div class="card-body">
    <p>
      Blog Content:
      {{blog_content}}
    </p>
    <p>
      User:
      {{user_name}}
    </p>
    {{#if timestamp}}
      <p class="timestamp">
        Contains Timestamp
      </p>
    {{/if}}
  </div>
</div>

<div class="edit-blog-container">
  <h2>
    Update blog. Let's Dish!
  </h2>
  <form class="edit-blog-form">
    <label for="blog_title">
      Blog Title:
    </label>
    <br />
    <textarea id="blog_title" name="blog_title" rows="2" cols="30">
      {{blog_title}}
    </textarea>
    <br />
    <label for="blog_content">
      blog_content:
    </label>
    <br />
    <textarea id="blog_content" name="blog_content" rows="5" cols="30">
      {{blog_content}}
    </textarea>
    <br />
    <label for="user_name">
      User Name:
    </label>
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
    <br />
    <br />
     <textarea id="timestamp" name="timestamp" rows="5" cols="30">
      {{timestamp}}
    </textarea>
    <label for="timestamp">
      Timestamp of blog
    </label>
    <br />
    <button id="edit" type="submit" value="Submit">
      Submit
    </button>
    
  </form>
  <form class="delete-blog-form">
   <button id="delete" type="submit" value="Submit">
      Delete
    </button>
  </form>
</div>
<script src="/js/edit-dish.js"></script>
<script src="/js/delete.js"></script>