<div class="blog-card">
  <div class="blog-card-header">
    {{blog_title}}
  </div>
  <div class="card-body">
    <p>
      Blog Content:
      {{blog_content}}
    </p>
    <p>
      User:
      {{user_name}}
    </p>
    {{#if timestamp}}
      <p class="timestamp">
        Contains Timestamp
      </p>
    {{/if}}
  </div>
</div>

<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

<div class="edit-blog-container">
  <h2>
    Update Dish
  </h2>
  <form class="edit-blog-form">
    <label for="blog_title">
      Blog Title:
    </label>
    <br />
    <textarea id="blog_title" name="blog_title" rows="2" cols="30">
      {{blog_title}}
    </textarea>
    <br />
    <label for="blog_content">
      blog_content:
    </label>
    <br />
    <textarea id="blog_content" name="blog_content" rows="5" cols="30">
      {{blog_content}}
    </textarea>
    <br />
    <label for="user_name">
      User Name:
    </label>
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
    <br />
    <br />
    <input type="checkbox" id="timestamp" name="timestamp" value="true" />
    <label for="timestamp">
      Check box if this blog contains timestamp
    </label>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-dish.js"></script>